<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826670569395-m7onfsllj6g3r8sm5oj4d83aauu5ul4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826670569395-m7onfsllj6g3r8sm5oj4d83aauu5ul4s</string>
	<key>API_KEY</key>
	<string>AIzaSyDo-hEro9lwPqr5ar2JUwtQlSq6CEY21cQ</string>
	<key>GCM_SENDER_ID</key>
	<string>826670569395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jefferson.livrodehistorias</string>
	<key>PROJECT_ID</key>
	<string>livro-historias</string>
	<key>STORAGE_BUCKET</key>
	<string>livro-historias.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826670569395:ios:028d2bc8da2ded44a0ddc6</string>
</dict>
</plist>